<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agregar Tarea
    </ion-title>
  </ion-toolbar>
</ion-header>

  <form (ngSubmit)="agregarTarea()">
    <ion-item class="campos">
      <ion-label position="stacked">Nombre de la tarea</ion-label>
      <br>
      <ion-input type="text" [(ngModel)]="tarea.titulo" name="titulo"></ion-input>
    </ion-item>
    <ion-item class="campos campos-fecha">
      <ion-label position="stacked">Fecha estimada en que se completará:</ion-label>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-select placeholder="mes" [(ngModel)]="tarea.mes" name="mes">
              <ion-select-option *ngFor="let mes of meses" [value]="mes.valor">{{ mes.nombre }}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="6">
            <ion-select placeholder="anio" [(ngModel)]="tarea.anio" name="anio">
              <ion-select-option *ngFor="let year of anios" [value]="year.abreviacion">{{ year.anio }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item class="campos">
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea rows="4" [(ngModel)]="tarea.descripcion" name="descripcion"></ion-textarea>
    </ion-item>
    <ion-button class="agregar-btn" expand="block" type="submit">Agregar tarea</ion-button>
  </form>  
