<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi App de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-tareas></app-tareas>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="toggleFormulario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div *ngIf="mostrarFormulario">
    <app-agregar-tarea (tareaAgregada)="cerrarFormulario()"></app-agregar-tarea>
  </div>
</ion-content>

