* {
    --background: #BB27A7;
}

ion-header {
    border-bottom: 1px solid white;
    font-size: 30px; 
    text-align: center;
}

ion-title {
    font-size: 30px;
}

ion-fab-button {
    --background: #4FFFDF;
    --color: black;
    --border-color: #49b1a8;
    margin-right: 30px;
    margin-bottom: 30px;
}

.toolbar-title {
    overflow: unset;
}
