<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Directivas</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <app-lista></app-lista>
    <ion-button (click)="clickMe()" color="warning">
      Hazme Click c;
    </ion-button>
    <br>
    
    <img [src]="imageUrl">

    <p>Inserta el nombre del alumno en el campo</p>
    <ion-input type="text" placeholder="Ingresa un nombre" [(ngModel)]="studentName"></ion-input>
    <ion-label>El alumno se llama: <strong>{{studentName}}</strong></ion-label>
  </div>

  
</ion-content>
